# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.venv/
env/

# Django
db.sqlite3

# secrets
.env

# VSCode / IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Qdrant
backend/qdrant_data/

# RAG
backend/knowledge_base/rag_chunks.json*.webm
*.wav
qdrant_data/
